#ctrl_category_chzn .chzn-search {
	position: absolute;
	top: -24px;
	left: 0;
	right: 15px;
	width: auto;
	z-index: 100;
	padding: 0;
}


#ctrl_category_chzn .chzn-search input {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
//	width: 93% !important;
}
	
#ctrl_category_chzn .chzn-single-with-drop > span{
	visibility: hidden;
}


#ctrl_category_chzn .chzn-single-with-drop > div {
	border-bottom: 1px solid #aaa;
	margin-bottom: 1px;
}